.button {
  border: none;
  border-radius: var(--border-radius);
  transition: background-color ease .2s;
  font-weight: 500;
  cursor: pointer;
}

.blue {
  background-color: var(--accent-color);
  color: var(--contrast-font-color);
}

.blue:hover {
  background-color: var(--accent-hover-color);
}

.gray {
  border: 1px solid var(--secondary-color);
  background-color: var(--gray-background);
}

.gray:hover {
  background-color: var(--secondary-color);
}

.black {
  background-color: var(--yandex-button-color);
  color: var(--contrast-font-color);
}

.black:hover {
  background-color: var(--hover-yandex-button-color);
}

.transparent {
  background-color: transparent;
}

.transparent:hover {
  background-color: var(--secondary-color);
}

.small {
  border-radius: .25rem;
  padding: .2rem;
}

.medium {
  padding: .625rem;
}
