.btn {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all ease 0.2s;
}

.btn:hover {
    background-color: var(--hover-primary-color);
}