.event {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .25rem;
  border: 1px solid var(--event-border-color);
  border-radius: var(--border-radius);
}

.title {
  font-weight: 700;
}

.description {
}

.more-info {
  text-align: right;
}

.more-info-link {
  color: var(--link-color);
  cursor: pointer;
}

.more-info-link:hover {
  text-decoration: underline;
}

.work {
  background-color: var(--event-work-color);
}

.personal {
  background-color: var(--event-personal-color);
}

.family {
  background-color: var(--event-family-color);
}
