.time-tracker {
  display: flex;
  justify-content: center;
  position: relative;
  height: 0;
  z-index: 1;
}

.line {
  width: 100%;
  border: 1px solid red;
  position: relative;
}

.line::before,
.line::after {
  content: '';
  position: absolute;
  border: 1px solid red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  top: -.24rem;
  box-sizing: border-box;
}

.line::before {
  left: -.2rem;
}

.line::after {
  right: -.2rem;
}

.time-container {
  position: absolute;
  top: -.8rem;
  background-color: black;
  color: var(--contrast-font-color);
  font-weight: 600;
  padding: .25rem;
  border-radius: .5em;
  border: 2px solid white;
}
