.dashboard-grid {
  display: flex;
  overflow: hidden;
}

.dashboard-grid:hover {
  overflow-y: auto;
}

.dashboard-grid::-webkit-scrollbar {
  width: 0;
}

.time-field-container {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  min-height: 0;
}
