.header {
  display: flex;
  padding: 1rem;
  gap: .75rem;
  align-items: center;
  color: var(--contrast-font-color);
  background-color: var(--accent-color);
}

.icon {
  height: 50px;
  width: 50px;
}

.name {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.auth-button {
  font-weight: bold;
  border: 1px solid var(--secondary-color);
  margin-left: auto;
}
