.header {
  display: flex;
  padding: 1rem;
  gap: .75rem;
  align-items: center;
  color: var(--secondary-font-color);
  background-color: var(--primary-color);
}

.icon {
  height: 50px;
  width: 50px;
}

.name {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.auth-button {
  font-weight: bold;
  border: 1px solid var(--border-radius-color);
  margin-left: auto;
}
