.toolbar {
  display: flex;
  align-items: center;
  /*border: 1px solid #000;*/
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
  gap: .625rem;
}

.date {
  font-size: 1.5rem;
}

.today-button {
  padding: .625rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--divider-color);
  border-radius: .5rem;
  cursor: pointer;
}

.arrow-button {
  display: flex;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.arrow {
  /*height: 1rem;*/
  width: 1rem;
}

.arrow-left {
  transform: rotate(180deg);
}
