.auth-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.divider {
  height: 150%;
  width: 1px;
  background-color: var(--divider-color);
}
