.dashboard-header {
  display: flex;
  -webkit-box-shadow: 0 2px 4px 0 var(--shadow-color);
  -moz-box-shadow: 0 2px 4px 0 var(--shadow-color);
  box-shadow: 0 2px 4px 0 var(--shadow-color);
}

.dashboard-header-column {
  display: flex;
  flex: 1;
}
