.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  gap: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.label {
  width: 100%;
  text-align: start;
}

.ref {
  color: var(--font-color);
  text-decoration: none;
}

.ref:hover {
  text-decoration: underline;
}

.yandexButton {
  background-color: hsla(240, 11%, 18%, 100%);
  width: 100%;
}

.yandexButton:hover {
  background-color: hsla(240, 21%, 18%, 90%);
}
