.avatar {
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  overflow: hidden;
}

.small {
  width: 1.3rem;
  height: 1.3rem;
}

.medium {
  width: 2rem;
  height: 2rem;
}
.large {
  width: 3rem;
  height: 3rem;
}
