.date-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: .75rem 0;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  gap: .25rem;
  color: var(--secondary-font-color);
}

.week-name {
  display: flex;
  justify-content: center;
  font-size: .875rem;
}

.week-number {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.today {
  color: var(--accent-color);
}
