@import url('../node_modules/reset-css/reset.css');

:root {
  --secondary-color: hsla(0deg 0% 89% / 100%);

  --primary-font-color: hsla(0deg 0% 0% / 100%);
  --secondary-font-color: hsla(233deg 4% 44% / 100%);
  --contrast-font-color: hsla(0deg 0% 96% / 100%);

  --primary-background-color: hsla(0deg 0% 14% / 100%);
  --secondary-background-color: hsla(0deg 0% 96% / 100%);

  --gray-background: hsla(0deg 0% 96% / 100%);

  --accent-color: hsla(223deg 95% 61% / 100%);
  --accent-hover-color: hsla(223deg 95% 55% / 100%);
  --event-work-color: hsla(217deg 35% 90% / 100%);
  --event-personal-color: hsla(175deg 59% 91% / 100%);
  --event-family-color: hsla(34deg 83% 91% / 100%);
  --yandex-button-color: hsla(240deg 11% 18% / 100%);
  --hover-yandex-button-color: hsla(240 11% 28% / 100%);
  --error-text-color: hsla(0deg 100% 50% / 100%);
  --border-radius: .625rem;
  --dark-background: hsla(0, 0%, 96%, 1);
  --shadow-color: hsla(206deg 40% 22% / 20%);
  --scrollbar-thumb-color: hsla(0deg 0% 0% / 30%);
  --scrollbar-thumb-hover-color: hsla(0deg 0% 0% / 50%);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  color-scheme: light dark;
  color: var(--primary-font-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 90rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-font-color: hsl(208deg 36% 20% / 100%);
    --background-color: hsla(0deg 0% 100% / 100%);
  }
}
