@import url('../node_modules/reset-css/reset.css');

:root {
  --primary-color: hsla(204deg 53% 49% / 100%);
  --secondary-color: hsla(210deg 14% 97% / 100%);
  --placeholder-color: hsla(0deg 0% 85% / 100%);
  --divider-color: hsla(0deg 0% 73% / 100%);
  --gray: hsla(0deg 0% 85% / 100%);
  --button-border-color: hsla(0deg 0% 100% / 100%);
  --hover-primary-color: hsla(204deg 53% 59% / 100%);
  --primary-font-color: hsla(0deg 0% 100% / 87%);
  --secondary-font-color: hsla(0deg 0% 100% / 100%);
  --background-color: hsla(0deg 0% 14% / 100%);
  --error-text-coror: hsla(0deg 100% 50% / 100%);
  --yandex-button-color: hsla(240deg 11% 18% / 100%);
  --hover-yandex-button-color: hsla(240 11% 28% / 100%);
  --cell-border-color: hsla(210deg 23% 88% / 100%);
  --cell-header-color: hsla(210deg 23% 88% / 100%);

  --event-work-color: hsla(359deg 100% 82% / 100%);
  --event-personal-color: hsla(115deg 100% 89% / 100%);
  --event-family-color: hsla(214deg 89% 79% / 100%);
  --event-border-color: hsla(0 0% 0% / 40%);
  --link-color: hsl(246, 82%, 47%);

  --border-radius: .625rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  height: 100%;
  color-scheme: light dark;
  color: var(--primary-font-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  width: 90rem;
}

body {
  margin: 0;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-font-color: hsl(208deg 36% 20% / 100%);
    --background-color: hsla(0deg 0% 100% / 100%);
  }
}
